* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    height: auto;
    background-color: rgb(189, 11, 234);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 15px 5px gray;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-weight: bold;
    color: rgb(128, 255, 0);
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    margin: 20px 0px;
    width: 100%;
    height: 50px;
}

input::placeholder {
    font-size: 15px;
}

input:focus {
    outline: none;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#msg {
    transform: scale(10);
    font-weight: bold;
}

button {
    margin: 20px 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(76, 29, 247);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: x-large;
}

button:hover {
    cursor: pointer;
    background-color: coral;
}

#att {
    font-size: 20px;
}

#win {
    color: rgb(240, 252, 9);
    margin-top: 10px;
    font-size: 25px;
}
#restart{
    display: none;
    color: white;
}

#msg,
#att,
#label1,
#label2 {
    display: none;
}